<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LiveNotify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup><userSettings>
        <LiveNotify.Properties.Settings>
            <setting name="CheckInterval" serializeAs="String">
                <value>00:10:00</value>
            </setting>
            <setting name="SettingsStoreDirectorySelect" serializeAs="String">
                <value />
            </setting>
        </LiveNotify.Properties.Settings>
    </userSettings>
</configuration>
